@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: rgb(34, 34, 34);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 100px;
    width: 100px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    background: -webkit-linear-gradient(68.15deg, #67DFD0 16.62%, #229EFD 85.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-escrito-botao:hover {
    background: linear-gradient(68.15deg, #229EFD 16.62%, #67DFD0 85.61%);
}

.conteudo-principal-escrito-botao {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: linear-gradient(68.15deg, #67DFD0 16.62%, #229EFD 85.61%);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: black;
}

.conteudo-principal-imagem{
    padding-top: 50px;
    height: 340px;
    width: 384px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrado {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
}

a{
    color: white;
}

.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contato-imagem {
    padding: 10px;

}